#q9{
    position:absolute;
    bottom:10vh;
    left:2vw;
    width:100px;
    color:white;
    font-family:sans-serif;
    font-weight:bold;
    float:left;
    background:red;
    text-align:center;

}
/* .tr{position:absolute;} */
.rajat >a{
  padding:0;
  margin:0;
    clear:right;
      float:rit;
    position:absolute;
    bottom:10vh;
    color:white;
  
 

}


/* #q6{

    position:absolute;
    width:100px;
    padding:10px;
    bottom:10vh;
    right:10vw;
} */